<h1>New Profile Type</h1>

<%= render 'form', profile_type: @profile_type %>

<%= button_to "Back" , {:action => "index", :controller => "profile_types"}, :method => :get, :class => "btn-small btn-danger "%>
