<footer class="footer">
  <small>
    The <a href="/">Ruby on Rails Pikkumi Site</a>
    by <a href="http://fb.com/szprytny.d">Dawid S</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>


  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWob3p8rfZGRzDKyUCPndB31lQud7yy1c&callback=initMap"></script>